<div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
        	<div class="panel panel-default">
        		<div class="panel-heading">
			    		<h3 class="panel-title">Change Password</h3>
			 			</div>
			 			<div class="panel-body">
			    		<form role="form" ng-submit="changePassword()">

                <div class="form-group">
			    				<input type="password" name="password" id="password"  ng-model="user.password" class="form-control input-sm glowing border" placeholder="Password">
			    			</div>
                <div class="form-group">
                  <input type="password" name="newPassword" id="newPassword"  ng-model="user.newPassword" class="form-control input-sm glowing border" placeholder="Conform Password">
                </div>
                      <input type="submit" value="Update" class="btn btn-info btn-block">
			    		</form>
			    	</div>
	    		</div>
            <div ><span class="bulb-idea"></span></div>
    		</div>

    	</div>
