<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">

    </div>
    <ul class="nav navbar-right">

      <li><a href="#">Post Idea</a></li>

    </ul>
  </div>
</nav>
<div class="container">

    <div class="sidea">
     <form ng-submit="newideaPost()">

     Your Idea name:<br>
    <input name="email" ng-model="newidea.title" size="50" type="text"><br> Details:<br>
    <textarea name="message" ng-model="newidea.content" rows="7" cols="55">
    </textarea><br>
    <input value="Post Idea" type="submit">
    </form>
        </div>

</div>
